@import "../../styles/variables";

.intro_content {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 2.5rem;
}

.intro_content_quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.intro_sign {
  width: 100%;
  margin-top: 3rem;
}

.intro_sign p:first-child {
  font-family: $font-base;
  font-weight: 400;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: $color-golden;
}

.intro_sign img {
  width: 250px;
  margin-top: 3rem;
}

.wrapper_img {
  position: relative;
  z-index: 99;
  margin: 0 auto;
}

@media screen and (min-width: 2000px) {
  .intro_sign img {
    width: 370px;
  }
}

@media screen and (max-width: 450px) {
  .intro_sign img {
    width: 80%;
  }
}

.ts_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.ts_card {
  background-color: red;
  width: 100px;
  height: 50px;
}

@media screen and (max-width: 650px) {
  .ts_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .ts_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
